<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="http://i.imgur.com/NSzReMF.png">
    <title>Confirm</title>
    <style type="text/css">
        th{
            padding-left: 18px;
            padding-right: 18px;
        }
        td{
            padding-left: 18px;
            padding-right: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
        <br>
        <a href="/appointments/"><img src="http://i.imgur.com/mLr55pP.png"></a>
        <br>
        <br>
        <ul class="nav nav-tabs">
            <li><a href="/appointments/">Appointments</a></li>
            <li><a href="/messages/">Messages</a></li>
            <li class = "active"><a href="/patients/">Patients</a></li>
            <li><a href="/">Profile</a></li>
        </ul>
        <br>
        <!--content_begins-->
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Up to Date On</th>
            </tr>
            {% for patient in patients %}
                <tr>
                    <td><a href='{% url "View-patient-profile" patient.id %}'>{{ patient.name }}</a></td>
                    <!--<td class="" onclick="window.document.location='{% url "View-patient-profile" patient.id %}';">
                        {{ patient.name }}
                    </td>-->
                    <td>
                        {{ patient.get_last_appt }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--content_ends-->
        <br>
        <br>
        <br>
        <a class="btn btn-info" href="{% url 'logout' %}" style="float: right">Log Out</a>
    </div>
</body>
</html>