<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{% url 'logout' %}'" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="http://i.imgur.com/NSzReMF.png">
    <title>HealthNet</title>
</head>
<body>
    <h1>You aren't a doctor, a patient, or an admin...</h1>
    <h3>Who are you?</h3>
    <h5>What are you?</h5>
</body>
</html>