<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="http://i.imgur.com/NSzReMF.png">
    <title>HealthNet - Admin</title>
    <style type="text/css">
        td{
            padding-left: 7px;
        }
    </style>
    <script type="text/javascript">
    function goToDeletePage() {
        var page = document.getElementById('delete_page').value;
        window.location = "/admin/auth/user/" + page + "/delete/";
    }
</script>
</head>
<body>
    <div class="container">
        <br>
        <a href="/"><img src="http://i.imgur.com/mLr55pP.png"></a>
        <br>
        <br>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/">Shortcuts</a></li>
            <li><a href="/admin/">Admin Panel</a></li>
        </ul>
        <!--content_begins-->
            <h1>Ratio of different User Types</h1><br>
            Patients {{ patients.count }}/{{ users.count }}: <br>
            <img src="http://i.imgur.com/mLr55pP.png" height="100" width="{% widthratio patients.count users.count 1000 %}"><br>
            Doctors {{ doctors.count }}/{{ users.count }}: <br>
            <img src="http://i.imgur.com/mLr55pP.png" height="100" width="{% widthratio doctors.count users.count 1000 %}"><br>
        <!--content_ends-->
        <br>
        <br>
        <br>
        <a class="btn btn-info" href="{% url 'logout' %}" style="float: right">Log Out</a>

    </div>
</body>
